.Posting {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column; }
  .Posting .Posting-header {
    width: 100%;
    height: 300px;
    display: flex; }
  .Posting .Posting-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px; }
    .Posting .Posting-content .Posting-content-header {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column; }
    .Posting .Posting-content .Posting-content-markdown {
      width: 100%;
      height: 80%;
      display: flex; }
    .Posting .Posting-content .Posting-content-button {
      width: 100%;
      height: 20%;
      display: flex; }
      .Posting .Posting-content .Posting-content-button .Posting-content-button-button {
        width: auto;
        height: 50%;
        display: flex;
        margin-top: 10px; }
  .Posting .Posting-footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column; }
