.Home {
  border-style: solid;
  border-color: red;
  border-width: 1px;
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column; }
  .Home .Home-header {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column; }
  .Home .Home-content {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    .Home .Home-content .Home-content-up {
      border-style: solid;
      border-color: red;
      border-width: 1px;
      width: 100%;
      height: 30%;
      display: flex; }
      .Home .Home-content .Home-content-up .Home-content-up-new {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column; }
      .Home .Home-content .Home-content-up .Home-content-up-like {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column; }
    .Home .Home-content .Home-content-down {
      border-style: solid;
      border-color: red;
      border-width: 1px;
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: column; }
      .Home .Home-content .Home-content-down .Home-content-down-posts {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 100%;
        height: 90%; }
      .Home .Home-content .Home-content-down .Home-content-down-pagination {
        border-style: solid;
        border-color: red;
        border-width: 1px;
        width: 100%;
        height: 10%; }
  .Home .Home-footer {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column; }

.card-body {
  font-size: 30px; }

.list-group-item + .list-group-item {
  cursor: pointer; }

.page-link {
  cursor: pointer; }
