$background-color_1: #f8f9fa;

.Home {
	width: 100%;
	height: 2000px;
	display: flex;
	flex-direction: column;

	.Home-header {
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: column;
	}

	.Home-content {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;

		.Home-content-up {
			width: 100%;
			height: auto;
			display: flex;

			.Home-content-up-new {
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			.Home-content-up-like {
				width: 40%;
				height: 100%;
				display: flex;
				flex-direction: column;
			}
		}

		.Home-content-down {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;

			.Home-content-down-posts {
				width: 100%;
				height: fit-content;
			}

			.Home-content-down-pagination {
				width: 100%;
				height: 10%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.Home-footer {
		width: 100%;
		height: 300px;
		display: flex;
		flex-direction: column;
	}
}

.card-body {
	font-size: 30px;
}

.list-group-item {
	+ {
		.list-group-item {
			cursor: pointer;
		}
	}
}

.page-link {
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		background-color: $background-color_1;
	}
}

@media (max-width: 768px) {

	.Home-content-up {
		width: 100%;
		height: 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}



}