$background-color_1: #354351;
$background-color_2: #f8f9fa;
$background-color_3: transparent;

.Menu {
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: column;
	background-color: $background-color_1;
	background-position: center center;
	background-size: cover;
	background-image: url('../../../assets/images/background-header.png');

	.Menu-top {
		width: 100%;
		height: 80%;
		display: flex;
		justify-content: space-between;

		.Menu-top-icon {
			display: flex;
			margin-top: 20px;
			margin-left: 20px;
			width: 192px;
		}

		.Menu-top-search {
			width: 300px;
			height: 40px;
			display: flex;
			background-color: $background-color_2;
			margin-top: 20px;
			margin-right: 20px;
			border-radius: 10px;
			align-items: center;
			padding: 0px 4px;

			.search-input {
				border: none;
				outline: none;
				background-color: $background-color_3;
				width: 100%;
			}
		}
	}

	.Menu-bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;

		.Menu-bottom-option {
			width: auto;
			height: 100%;
			display: flex;
		}

		.Menu-bottom-dkdn {
			width: auto;
			height: 100%;
			display: flex;
		}
	}
}

.svg-inline--fa.fa-w-16 {
	height: 16px;
	width: 16px;
	cursor: pointer;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		background-color: $background-color_2;
	}
}

@media (max-width: 768px) {
	.Menu {
		.Menu-top {
			flex-direction: column;
			justify-content: flex-start;

			.Menu-top-search {
				width: 300px;
				margin-left: 20px;
			}
		}

		.Menu-bottom {
			flex-direction: column;
			justify-content: flex-start;

			.Menu-bottom-option {
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.Menu-bottom-dkdn {

				margin-bottom: 10px;
			}


		}
	}
}