.Posts-content-left {

    width: 100%;
    height: auto;
    // display: flex;
    flex-direction: column;


    .Posts-content-left-name {
        border-style: solid;

        border-width: 1px;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        align-items: center;

        .Posts-content-left-name-image {
            border-style: solid;

            border-width: 1px;
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 30px;
        }

        .Posts-content-left-name-name {
            border-style: solid;
            border-width: 1px;
            width: auto;
            height: auto;
            display: flex;
            margin-left: 10px;
            align-items: center;
            font-weight: 600;
            font-size: 23px;
        }

    }

    .Posts-content-left-content {
        border-style: solid;

        border-width: 1px;
        width: 100%;
        min-height: 100px;
        display: flex;
        padding: 20px;
        flex-direction: column;

        .Posts-content-left-content-title {
            width: auto;
            min-height: auto;
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .Posts-content-left-like {
        border-style: solid;

        border-width: 1px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .Posts-content-left-like-one {

            width: 40%;
            height: 100%;
            display: flex;
            justify-content: space-between;

            .Posts-content-left-like-one-like {
                &.like {
                    background-color: #73787c;
                }

                width: auto;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;

                cursor: pointer;

                &:hover {
                    background-color: #e7e9eb;
                }


            }

            .Posts-content-left-like-one-comment {

                width: auto;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #e7e9eb;
                }

                &:active {
                    background-color: #73787c;
                }
            }

            .Posts-content-left-like-one-share {

                width: auto;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #e7e9eb;
                }

                &:active {
                    background-color: #73787c;
                }
            }


        }

        .Posts-content-left-like-two {

            width: 25%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .Posts-content-left-input {
        border-style: solid;

        border-width: 1px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 20px;

        .Posts-content-left-input-input {
            width: 95%;
            height: 60%;
            margin-right: 5px;
        }
    }

    .Posts-content-left-comment-comment {
        border-style: solid;

        border-width: 1px;
        width: 100%;
        height: auto;



        // .Posts-content-left-comment-image {
        //     border-style: solid;

        //     border-width: 1px;
        //     width: 40px;
        //     height: 40px;
        //     display: flex;
        //     border-radius: 20px;
        //     margin-right: 10px;
        // }

        // .Posts-content-left-comment-infor {
        //     border-style: solid;
        //     border-color: red;
        //     border-width: 1px;
        //     width: 100%;
        //     height: auto;
        //     display: flex;
        //     flex-direction: column;

        //     .Posts-content-left-comment-infor-1 {
        //         border-style: solid;
        //         border-color: red;
        //         border-width: 1px;
        //         width: 100%;
        //         height: auto;
        //         display: flex;
        //         padding: 5px;

        //         .Posts-content-left-comment-infor-1-name {
        //             border-style: solid;
        //             border-color: red;
        //             border-width: 1px;
        //             width: auto;
        //             height: 100%;
        //             display: flex;
        //             margin-right: 5px;

        //         }

        //         .Posts-content-left-comment-infor-1-time {
        //             border-style: solid;
        //             border-color: red;
        //             border-width: 1px;
        //             width: auto;
        //             height: 100%;
        //             display: flex;

        //         }
        //     }

        //     .Posts-content-left-comment-infor-2 {
        //         border-style: solid;
        //         border-color: red;
        //         border-width: 1px;
        //         width: 100%;
        //         height: auto;
        //         display: flex;
        //         padding: 5px;
        //     }

        //     .Posts-content-left-comment-infor-3 {
        //         border-style: solid;
        //         border-color: red;
        //         border-width: 1px;
        //         width: 100%;
        //         height: 40px;
        //         display: flex;

        //         .Posts-content-left-comment-infor-3-like {
        //             padding: 5px;
        //         }

        //         .Posts-content-left-comment-infor-3-dislike {
        //             padding: 5px;
        //         }

        //         .Posts-content-left-comment-infor-3-feedback {
        //             border-style: solid;
        //             border-color: red;
        //             border-width: 1px;
        //             padding: 5px;
        //             margin-left: 5px;

        //             cursor: pointer;

        //             &:hover {
        //                 background-color: #e7e9eb;
        //             }

        //             &:active {
        //                 background-color: #73787c;
        //             }
        //         }
        //     }

        //     .Posts-content-left-comment-infor-input {
        //         padding-left: 5px;
        //     }

        //     .Posts-content-left-comment-infor-4 {
        //         border-style: solid;
        //         border-color: red;
        //         border-width: 1px;
        //         width: 100%;
        //         min-height: 40px;
        //         display: flex;

        //         .Posts-content-left-comment-infor-4-feedback {
        //             height: auto;
        //             width: auto;
        //             padding: 5px;
        //             margin-left: 10px;

        //             cursor: pointer;

        //             &:hover {
        //                 background-color: #e7e9eb;
        //             }

        //             &:active {
        //                 background-color: #73787c;
        //             }
        //         }
        //     }

        //     .Posts-content-left-comment-infor-5 {
        //         border-style: solid;
        //         border-color: red;
        //         border-width: 1px;
        //         width: 100%;
        //         height: auto;
        //         display: flex;
        //     }

        // }



    }
}